[Unit]
Description=DasPi initial server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/DarPi/frontend/app.py

RestartSec=5
Restart=always

StandardError=file:/home/ubuntu/logs/daspi-frontend-stderr.log

[Install]
WantedBy=multi-user.target
