[Unit]
Description=DasPi initial server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/DarPi/backend/send_config.py --https

RestartSec=5
Restart=always

StandardError=file:/home/ubuntu/logs/daspi-config-stderr.log

[Install]
WantedBy=multi-user.target

